@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.shiny {
  background: linear-gradient(to right, rgb(223, 115, 223), rgb(83, 83, 238));
  background-clip: text;
  color: transparent;
  font-weight: 600;
}